---
export interface Props {
  name: string
}

const { name } = Astro.props
---

<section>
  <div class='section-title-area'>
    <h1 class='section-title'>{name}</h1>
  </div>
  <div class='section-content-area'>
    <slot />
  </div>
</section>

<style>
  section {
    @apply col-span-12 grid w-full grid-cols-4 border-slate-700 p-5 lg:border-l;
  }

  .section-title-area {
    @apply col-span-4 h-full px-5 lg:col-span-1;
  }

  .section-title {
    @apply text-4xl font-bold text-rose-400;
  }

  .section-content-area {
    @apply col-span-4 flex w-full flex-col gap-5 border-slate-700 px-5 lg:col-span-3 lg:border-l;
  }
</style>
