---
import AboutSection from '@/components/about/AboutSection.astro'
import Experience from '@/components/about/Experience.astro'
import ImportantSection from '@/components/about/ImportantSection.astro'
import Skill from '@/components/about/Skill.astro'
import SkillCategory from '@/components/about/SkillCategory.astro'
import NameTag from '@/components/ui/NameTag.astro'
import Spacer from '@/components/ui/Spacer.astro'
import Layout from '@/layouts/PageLayout.astro'
---

<Layout title='About'>
  <!-- Hero -->
  <section class='hero'>
    <!-- Image -->
    <div class='hero-image-container'>
      <img src='images/photo.jpg' class='hero-image' alt='My photo' />
    </div>

    <!-- Introduction -->
    <main class='intro-container'>
      <h1 class='intro-title'>
        I am Michał Pędzik. Living in Poland, creating software.
      </h1>
      <AboutSection>
        My <b>love for coding</b> started all the way in the 2013. At that time I
        have been making small JavaScript games with <code>jQuery</code> and sites
        made with WordPress for my Minecraft servers.
      </AboutSection>
      <AboutSection>
        In 2016, I have started to <b>think seriously about my passion</b>. My
        first encounter with professional web development environment was
        <code>React</code>. It was pure dark magic back then... But in my eyes
        you could see bright flame indicating <b>my fascination</b>.
      </AboutSection>
      <AboutSection>
        To this day you can see it. I still <b>love it</b> but even more!
      </AboutSection>
    </main>
  </section>

  <section>
    <ImportantSection name='Experience'>
      <Experience
        company='Silevis'
        jobType='Intern'
        date='2023-02'
        techstack={['Angular', 'RxJS', 'PrimeNG', 'NgRx']}
      />
      <Experience
        company='Invesyta'
        jobType='Intern'
        date='2022-07'
        techstack={['React', 'NextJS']}
      />
      <Experience
        company='Axel Media'
        jobType='Intern'
        date='2018-02'
        responsibilities={['Research', 'Image manipulation', 'Maintenance']}
      />
    </ImportantSection>
    <Spacer />
    <ImportantSection name='Skills'>
      <SkillCategory name='Web Development' desc='Frontend vs. Backend wars' />
      <Skill
        name='HTML5 | CSS3 | JS'
        date='since 2013'
        icon='akar-icons:html-fill'
      >
        Basic skill set for every web developer!
      </Skill>
      <Skill name='TypeScript' date='since 2020' icon='mdi:language-typescript'>
        Its strong typing system and static analysis capabilities bring an added
        layer of safety and reliability to my code. With TypeScript, I can catch
        potential errors during development and benefit from enhanced code
        navigation and autocompletion.
      </Skill>
      <Skill name='React' date='since 2016' icon='mdi:react'>
        This piece of technology has been my absolute favorite for as long as I
        can remember. I have utilized it extensively for both personal and
        university projects. Additionally, I had the opportunity to develop a
        mobile application for a university subject using React Native.
      </Skill>
      <Skill name='NextJS Framework' date='since 2019' icon='file-icons:nextjs'>
        Essentially, it serves as the foundation for all of my React projects,
        playing a fundamental role in their development. Its versatility and
        robustness empower me to create dynamic and interactive user interfaces.
        The seamless integration of its features and the vast ecosystem of
        libraries and tools make it an indispensable tool in my web development
        toolkit.
      </Skill>
      <Skill name='Angular' date='since 2018' icon='mdi:angular'>
        For the longest time, I had been avoiding it, but after completing my
        internship at Silevis, I can confidently say that it can actually be
        quite enjoyable. This is especially true when collaborating with teams!
      </Skill>
      <SkillCategory
        name='Operating Systems and Environments'
        desc='I use arch btw'
      />
      <Skill name='Linux' date='since 2013' icon='simple-icons:linux'>
        My main operating system (both server and desktop) since 2020. I have
        experience with many distributions like: Debian, Ubuntu, Fedora and Arch
        Linux.
      </Skill>
      <Skill name='Docker' date='since 2019' icon='mdi:docker'>
        Works on my machine! 🤡
      </Skill>
      <SkillCategory
        name='Programming Languages'
        desc='Because one language is not enough!'
      />
      <Skill name='Python' date='since 2015' icon='mdi:language-python'>
        Who does not love Python?
      </Skill>
      <Skill name='Rust' date='since 2019' icon='mdi:language-rust'>
        I am a devoted Rustacean, completely enamored with the language from the
        very beginning. The sheer elegance and power of Rust captured my heart
        instantaneously. I have had the pleasure of working on exceptional
        projects such as building REST APIs with Rocket and Axum, as well as
        creating captivating games with Bevy.
      </Skill>
      <Skill name='C#' date='since 2020' icon='simple-icons:csharp'>
        Since I have started to work with Godot Engine, I have been fascinated
        by capabilities of C Sharp and Dotnet environment.
      </Skill>
      <Skill name='C/C++' date='since 2019' icon='simple-icons:cplusplus'>
        Experienced both C and C++ when working on some SDL2 projects.
      </Skill>
      <SkillCategory
        name='Other'
        desc='Not only the techstack makes you a great developer'
      />
      <Skill name='English Language - B2' />
      <Skill name='Japanese Language - A1' />
      <Skill name='Version Control Systems' />
    </ImportantSection>
    <Spacer />
    <ImportantSection name='Certificates'>
      <Skill name='Responsive Web Design'>
        Verify this certification <NameTag
          name='freeCodeCamp'
          href='https://www.freecodecamp.org/certification/prinzsabishi/responsive-web-design'
        />
      </Skill>
      <Skill name='React - The Complete Guide 2023'>
        Verify this certification <NameTag
          name='Udemy'
          href='https://www.udemy.com/certificate/UC-5396a7f3-ad72-40ba-9012-02bed444d071/'
        />
      </Skill>
    </ImportantSection>
  </section>
</Layout>

<style>
  .hero {
    @apply grid w-full grid-cols-12 items-center justify-center lg:my-10;
  }

  .hero-image-container {
    @apply hidden max-w-sm justify-center lg:col-span-5 lg:flex;
  }

  .hero-image {
    @apply rounded-2xl border border-slate-700;
  }

  .intro-container {
    @apply col-span-12 p-5 lg:col-span-7;
  }

  .intro-title {
    @apply p-3 text-5xl font-bold text-slate-50;
  }

  [astro-icon] {
    width: auto;
    height: 2rem;
  }
</style>
