---
import AboutSection from "@/components/AboutSection.astro";
import Experience from "@/components/Experience.astro";
import ImportantSection from "@/components/ImportantSection.astro";
import Navbar from "@/components/Navbar.astro";
import Skill from "@/components/Skill.astro";
import SkillCategory from "@/components/SkillCategory.astro";
import Spacer from "@/components/Spacer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <!-- Navbar -->
  <Navbar title="about" />

  <!-- Content -->
  <div class="h-full my-10 flex flex-col justify-center items-center">
    <!-- Hero -->
    <section
      class="w-full lg:my-10 grid grid-cols-12 justify-center items-center"
    >
      <!-- Image -->
      <div class="hidden lg:flex lg:col-span-5 justify-center">
        <div class="max-w-sm">
          <img
            src="images/photo.jpg"
            class="rounded-2xl border border-slate-700"
            alt="My photo"
          />
        </div>
      </div>

      <!-- About -->
      <main class="col-span-12 lg:col-span-7 p-5">
        <h1 class="text-5xl font-bold text-slate-50 p-3">
          I am Michał Pędzik. Living in Poland, creating software.
        </h1>
        <AboutSection>
          My <b>love for coding</b> started all the way in the 2013. At that time
          I have been making small JavaScript games with <code>jQuery</code> and
          sites made with WordPress for my Minecraft servers.
        </AboutSection>
        <AboutSection>
          In 2016, I have started to <b>think seriously about my passion</b>. My
          first encounter with professional web development environment was
          <code>React</code>. It was pure dark magic back then... But in my eyes
          you could see bright flame indicating <b>my fascination</b>.
        </AboutSection>
        <AboutSection>
          To this day you can see it. I still <b>love it</b> but even more!
        </AboutSection>
      </main>
    </section>
    <ImportantSection name="Experience">
      <Experience
        company="Silevis"
        jobType="Intern"
        date="2023-02"
        techstack="Angular, RxJS, PrimeNG, NgRx"
      />
      <Experience
        company="Invesyta"
        jobType="Intern"
        date="2022-07"
        techstack="React, NextJS"
      />
      <Experience
        company="Axel Media"
        jobType="Intern"
        date="2018-02"
        responsibilities="Research, Image manipulation, Maintenance"
      />
    </ImportantSection>
    <Spacer />
    <ImportantSection name="Skills">
      <SkillCategory name="Web Development" desc="Frontend vs. Backend wars" />
      <Skill
        name="HTML5 | CSS3 | JS"
        date="since 2013"
        icon="akar-icons:html-fill"
      >
        Basic skill set for every webdev!
      </Skill>
      <Skill name="React" date="since 2016" icon="mdi:react">
        Easily my most favorite piece of technology since I can remember. I have
        used it for many personal and university projects. Also made mobile app
        for univeristy subject with React Native once.
      </Skill>
      <Skill name="Angular" date="since 2018" icon="mdi:angular">
        Since I can remember... I was avoiding it. After Silevis internship I
        can say that it can be quite nice. Especially when working with teams!
      </Skill>
      <Skill name="Svelte" date="since 2020" icon="file-icons:svelte">
        Quite impressive thing to work with! If React would not exist, Svelte
        would be on its place.
      </Skill>
      <Skill name="NextJS Framework" date="since 2019" icon="file-icons:nextjs">
        Basically, it is core of all my React projects.
      </Skill>
      <Skill name="Astro" date="since 2022" icon="simple-icons:astro">
        Great, great tool for making blog like sites. This site is also powered
        by Astro!
      </Skill>
      <Skill name="TypeScript" date="since 2020" icon="mdi:language-typescript">
        I can't work without it in Node environment.
      </Skill>
      <Skill name="NodeJS" date="since 2016" icon="mdi:nodejs">
        Same as with HTML5/CSS3/JS!
      </Skill>
      <SkillCategory
        name="Operating Systems and Environments"
        desc="I use arch btw"
      />
      <Skill name="Linux" date="since 2013" icon="simple-icons:linux">
        My main operating system (both server and desktop) since 2020. I have
        experience with many distributions like: Debian, Ubuntu, Fedora and Arch
        Linux.
      </Skill>
      <Skill name="Windows" date="since 2005" icon="ion:logo-windows">
        Good old Windows. In all these years I have gained deep knowledge about
        Windows guts. KVM Virtualization is the way I use it these days.
      </Skill>
      <Skill name="KVM" date="since 2021" icon="simple-icons:virtualbox">
        KVM Virtualization is the thing that spins up every data center! Really
        useful thing for personal projects too.
      </Skill>
      <Skill name="Docker" date="since 2019" icon="mdi:docker">
        Works on my machine! 🤡
      </Skill>
      <SkillCategory
        name="Programming Languages"
        desc="Because one language is not enough!"
      />
      <Skill name="Python" date="since 2015" icon="mdi:language-python">
        Who does not love Python?
      </Skill>
      <Skill name="Rust" date="since 2019" icon="mdi:language-rust">
        I am true Rustacean. Felt in love at first sight. Made some great
        projects like Rocket/Axum REST APIs, Bevy Games and I hope I will make
        more in the future.
      </Skill>
      <Skill name="Java" date="since 2016" icon="mdi:language-java">
        Learnt it in Middle School and used it for some Minecraft projects.
      </Skill>
      <Skill name="C#" date="since 2020" icon="simple-icons:csharp">
        Learnt it just out of curiosity. Used it for some Unity and Godot
        projects.
      </Skill>
      <Skill name="C/C++" date="since 2019" icon="simple-icons:cplusplus">
        Learnt it in University. Used it for OpenGL and SDL2 projects.
      </Skill>
      <Skill name="PHP" date="since 2016" icon="mdi:language-php">
        Great language with some quirky elements.
      </Skill>
      <SkillCategory
        name="Other"
        desc="Not only the techstack makes you a great developer"
      />
      <Skill name="English Language">
        Learning it since I was a small child. Currently I am at B2 level.
      </Skill>
      <Skill name="Version Control Systems">
        Man, how to live without git? I can not imagine. I have experience with
        GitHub, GitLab and Azure DevOps platforms.
      </Skill>
      <Skill name="Teamwork">
        I love working with other people! Taking advices, learning from others,
        helping those who need help - these are the most important things for
        me.
      </Skill>
      <Skill name="Work Organization">
        Trello, Scrum, Kanban, Excalidraw, Notes. Good organization is the key
        for great work flow.
      </Skill>
    </ImportantSection>
    <Spacer />
    <ImportantSection name="Certificates">
      <Skill name="Responsive Web Design">
        Verify this certification at <a
          class="font-bold text-rose-400"
          href="https://www.freecodecamp.org/certification/prinzsabishi/responsive-web-design"
          >freeCodeCamp</a
        >.
      </Skill>
    </ImportantSection>
  </div>
  <footer class="flex w-full flex-col justify-center items-center p-4">
    <span>Copyright &copy; 2023</span>
    <span
      >Made by <a
        class="font-bold text-rose-500"
        href="https://github.com/maxusify">@maxusify</a
      ></span
    >
  </footer>
</Layout>

<style>
  [astro-icon] {
    width: auto;
    height: 2rem;
  }
</style>
