---
import Navbar from '@/components/Navbar.astro'
import Base from '@/layouts/RootLayout.astro'
---

<Base>
  <main class='flex h-screen w-full flex-col justify-start items-center'>
    <div class='h-full w-full flex flex-col relative'>
      <Navbar title='home' border={false} />
    </div>
  </main>
</Base>
