---
import { Icon } from 'astro-icon'
import DotSpacer from '@/components/ui/DotSpacer.astro'

type JobType = 'Intern' | 'Junior' | 'Mid' | 'Regular' | 'Senior' | 'Expert'

export interface Props {
  company: string
  jobType: JobType
  date: string
  techstack?: string[]
  responsibilities?: string[]
  icon?: string
}

const { company, jobType, date, techstack, responsibilities, icon } =
  Astro.props
---

<div>
  <div class='experience'>
    <Icon name={icon || 'mdi:web'} />
    <span class='company'>{company}</span>
    <DotSpacer />
    <span class='job-type'>{jobType}</span>
    <DotSpacer />
    <span class='job-date'>{date}</span>
  </div>
  <div class='details'>
    {
      techstack && (
        <code>
          <b>Technologies:</b> {techstack.join(', ')}
        </code>
      )
    }
    {
      responsibilities && (
        <code>
          <b>Responsibilties:</b> {responsibilities.join(', ')}
        </code>
      )
    }
  </div>
  <div class='desc'>
    <slot />
  </div>
</div>

<style>
  .experience {
    @apply flex items-center gap-2 border-b border-slate-700 py-2;
  }

  .company {
    @apply font-bold sm:text-lg;
  }

  .job-type {
    @apply text-slate-400;
  }

  .job-date {
    @apply truncate text-slate-400;
  }

  .details {
    @apply py-2;
  }

  .desc {
    @apply pt-2;
  }

  [astro-icon] {
    width: 2rem;
    height: auto;
  }
</style>
