<footer>
  <p>Copyright &copy; 2023</p>
  <p>Made by <a href='https://github.com/maxusify'>@maxusify</a></p>
</footer>

<style>
  /* Position footer */
  footer {
    @apply relative bottom-0 left-0;
  }

  /* Footer flex style */
  footer {
    @apply flex w-full flex-col items-center justify-center;
  }

  /* Footer spacings */
  footer {
    @apply py-8;
  }
</style>
