---
import NameTag from './ui/NameTag.astro'
---

<footer>
  <p>Copyright &copy; 2023</p>
  <p>Made by <NameTag href='https://github.com/maxusify'>maxusify</NameTag></p>
</footer>

<style>
  /* Footer flex style */
  footer {
    @apply flex w-full flex-col items-center justify-center;
  }

  /* Footer spacings */
  footer {
    @apply py-8;
  }
</style>
