---
export interface Props {
  name: string
}

const { name } = Astro.props
---

<section
  class='w-full col-span-12 grid grid-cols-4 p-5 lg:border-l border-slate-700'
>
  <div class='col-span-4 px-5 lg:col-span-1 h-full'>
    <h1 class='text-4xl text-rose-400 font-bold'>{name}</h1>
  </div>
  <div
    class='col-span-4 lg:col-span-3 w-full flex flex-col gap-5 px-5 lg:border-l border-slate-700'
  >
    <slot />
  </div>
</section>
