---
export interface Props {
  title: string
  border?: boolean
}

const items = [
  { name: 'Home', link: '/' },
  { name: 'About Me', link: '/about' }
  // { name: "Portfolio", link: "/#" },
  // { name: "Contact", link: "/#" },
]

const { title, border = true } = Astro.props
---

<div
  class={`flex flex-row justify-center items-center w-full gap-8 p-5 ${
    border ? 'border-b border-gray-600' : ''
  } font-bold text-xl text-slate-300`}
>
  {
    items.map(({ link, name }) => {
      return (
        <div
          class={
            name.toLowerCase() === title.toLowerCase() ? 'text-rose-400' : ''
          }
        >
          <a href={link}>{name}</a>
        </div>
      )
    })
  }
</div>
