---
import { items } from '@/constants/nav-items'

export interface Props {
  border?: boolean
}

const { border } = Astro.props

/**
 * Checks if the link is active.
 * @param link string
 */
const isActive = (link: string) => {
  return Astro.url.pathname.endsWith(link)
}
---

<div class:list={['nav-container', { 'nav-active-border': border }]}>
  {
    items.map((item) => {
      if (item.enabled === false) {
        return null
      }

      return (
        <div
          class:list={['nav-item', { 'nav-active-item': isActive(item.link) }]}
        >
          <a href={item.link}>{item.name}</a>
        </div>
      )
    })
  }
</div>

<style>
  /* Navbar container style */
  .nav-container {
    @apply flex w-full flex-row items-center justify-center gap-8 p-5;
  }

  /* Navbar item regular style */
  .nav-item {
    @apply text-xl font-bold text-slate-300;
  }

  /* Navbar item active style */
  .nav-active-item {
    @apply text-rose-400;
  }

  /* Navbar item border style */
  .nav-active-border {
    @apply border-b border-slate-400;
  }
</style>
