---
export interface Props {
  name: string
  desc?: string
}

const { name, desc } = Astro.props
---

<div class='category'>
  <h1 class='category-title'>{name}</h1>
  {desc && <h3 class='category-desc'>{desc}</h3>}
</div>

<style>
  .category {
    @apply flex w-full flex-col justify-start pt-3;
  }

  .category-title {
    @apply text-2xl font-bold text-rose-400;
  }

  .category-desc {
    @apply text-xl font-thin text-slate-400;
  }
</style>
