---
export interface Props {
  name?: string
  hashSymbol?: boolean
}

const { hashSymbol = true, name } = Astro.props
---

<a href={`/blog/tags/${name}`}
  ><span class='wrapper'>
    {hashSymbol && '#'}{name ? name : <slot />}
  </span></a
>

<style>
  .wrapper {
    @apply flex items-center;
  }

  .wrapper {
    @apply rounded-md bg-rose-400 px-1 text-sm text-slate-900;
  }
</style>
