---
import "@fontsource/lato";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>maxusify.dev</title>
  </head>
  <body>
    <main class="flex flex-col h-screen justify-center items-center">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    @apply bg-slate-900 text-slate-200;
  }
</style>
