---
import Base from "./Base.astro";
---

<Base>
  <main class="flex flex-col justify-center items-center">
    <div
      class="flex flex-col bg-black max-h-full md:max-w-7xl justify-center items-center sm:px-8 border-x border-gray-600 overflow-y-auto"
    >
      <slot />
    </div>
  </main>
</Base>
