---
export interface Props {
  name?: string
  href?: string
  atSymbol?: boolean
}

const { name, href, atSymbol = true } = Astro.props
---

<a class='name' href={href || '#'}>
  {atSymbol && '@'}
  {name ? name : <slot />}
</a>

<style>
  .name {
    @apply font-bold text-rose-500;
  }
</style>
